.Info{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 250px;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
.tableHeading{
    margin-left: 60px !important;
    width: 150vw;

}

}