.App {
  text-align: center;
  /* background-color: gray;
  background-image: url(./assets/globe1.jpeg);
  height: 100%; 
  width:100%;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ 
}

